<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Guest Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap" rel="stylesheet">
</head>
<body>
<main class="popup__wrapper">
    <section class="main__content popup">
        <div class="content">
            <header>
                <h1 th:text="${guest.getFirstName() + ' ' + guest.getLastName()}"></h1>
                <a th:href="@{/guests/}">
                    <span role="button" class="iconify popup__close" data-icon="carbon:close"
                          style="color: #16a085;" data-width="32" data-height="32">
                    </span>
                </a>
            </header>
            <div class="guest__block">
                <h4 class="guest__sub__heading">Personal information:</h4>
                <div class="guest__block__content">
                    <div class="guest__block__content__header">
                        Telephone:
                    </div>
                    <div class="guest__block__content__data" th:text="${guest.getPhone()}"></div>
                    <div class="guest__block__content__header">
                        Email:
                    </div>
                    <div class="guest__block__content__data" th:text="${guest.getEmail()}"></div>
                    <div class="guest__block__content__header">
                        Passport:
                    </div>
                    <div class="guest__block__content__data" th:text="${guest.getPassport()}">
                        000657345
                    </div>
                </div>
                <div class="guest__block__content">
                    <h4 class="guest__sub__heading"><b>Personal data:</b></h4>
                    <div class="guest__block__content__data" th:text="${guestOptions}">
                    </div>
                </div>

                <div class="guest__button__wrapper">
                    <a role="button" th:href="@{/guests/{id}/update/(id=${guest.getId()})}"
                       class="button primary smaller">Edit</a>
                    <form th:method="DELETE" th:action="@{/guests/{id}(id=${guest.getId()})}">
                        <input class="button small" type="submit" value="delete">
                    </form>
                </div>
            </div>
            <footer>
                <img class="footer__image" th:src="@{/img/logo.png}" alt="Grand Leon"/>
                <div>Personal Card. <b>Grand Leon Hotel</b></div>
            </footer>
        </div>
    </section>
</main>
</body>
</html>