<!DOCTYPE html>
<html>
<head>
    <title>Guest Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/option_select.js}"></script>
    <script th:inline="javascript">
        const reqData = /*[[${options}]]*/;
        let data = /*[[${guestOptions}]]*/;
        if (data === null) {
            data = [];
        }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap" rel="stylesheet">
</head>
<body>
<main class="popup__wrapper">
    <section class="main__content popup">
        <div class="content edit">
            <form style="max-width: 500px;display: block;" th:method="POST" th:action="@{/guests}" th:object="${guest}">
                <header>
                    <div>
                        <input type="text" th:field="*{firstName}" placeholder="name" required />
                        <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                        <input type="text" th:field="*{lastName}" placeholder="lastname" required/>
                        <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    </div>
                    <a th:href="@{/guests/}">
                    <span role="button" class="iconify popup__close" data-icon="carbon:close"
                          style="color: #16a085;" data-width="32" data-height="32">
                    </span>
                    </a>
                </header>
                <div class="guest__block">
                    <h4 class="guest__sub__heading">Personal information:</h4>
                    <div class="guest__block__content">
                        <div class="guest__block__content__header">
                            Telephone:
                        </div>
                        <div class="guest__block__content__data">
                            <input type="tel" th:field="*{phone}" placeholder="Enter your telephone" required>
                            <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                        </div>
                        <div class="guest__block__content__header">
                            Email:
                        </div>
                        <div class="guest__block__content__data">
                            <input type="email" th:field="*{email}" placeholder="Enter your email" required>
                            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                        <div class="guest__block__content__header">
                            Passport:
                        </div>
                        <div class="guest__block__content__data">
                            <input type="number" th:field="*{passport}" placeholder="Enter your document" required>
                            <div class="error" th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}"></div>
                        </div>
                    </div>
                    <div class="guest__block__content expanded selected">
                        <h4 class="guest__sub__heading"><b>Personal data:</b></h4>
                        <select style="display: none;" th:field="*{options}" multiple="multiple">
                            <option th:each="io : *{options}"
                                    th:value="${io}"
                                    th:selected="true">
                            </option>
                        </select>
                        <div class="chose">Chosen:</div>
                        <div id="option_select_list" class="guest__block__content__data">
                        </div>
                        <input type="text" id="option" placeholder="Start typing...">
                        <div id="option__list" class="expanded__list">
                            <div class="expanded__list__item">
                            </div>
                        </div>
                    </div>

                    <div class="guest__button__wrapper">
                        <input type="submit" class="button primary" value="Save"/>
                        <a role="button" th:href="@{/guests/}" class="button small">Discard</a>
                    </div>
                </div>
            </form>
            <footer>
                <img class="footer__image" th:src="@{/img/logo.png}" alt="Grand Leon"/>
                <div>Personal Card. <b>Grand Leon Hotel</b></div>
            </footer>
        </div>
    </section>
</main>
</body>
</html>